body {
    margin: 0;
    padding: 0;
}

#head {
    height: 65px;
    background: #404852;
    position: relative;
}

#head form {
    position: absolute;
    top: 15px;
    right: 10px;
    border: 2px solid #a1b6d0;
    padding: 0;
    margin: 0;
    height: 32px;

}

#head form input {
    border: none;
    height: 32px;
    outline: none;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItc2VhcmNoIj48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ij48L2NpcmNsZT48bGluZSB4MT0iMjEiIHkxPSIyMSIgeDI9IjE2LjY1IiB5Mj0iMTYuNjUiPjwvbGluZT48L3N2Zz4=)
        no-repeat 2px center transparent;
    padding: 0 5px 0 30px;
    width: 100px;
    color: #a1b6d0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#head form input:focus {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItc2VhcmNoIj48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4Ij48L2NpcmNsZT48bGluZSB4MT0iMjEiIHkxPSIyMSIgeDI9IjE2LjY1IiB5Mj0iMTYuNjUiPjwvbGluZT48L3N2Zz4=)
    no-repeat 2px center transparent;
    width: 200px;
    color: #a1b6d0;
    padding: 0 5px 0 30px;

}

.container {
    height: 2000px;
}


pre {
    margin-top: 50px;
    color: #FFF;
    background-color: #272822;
    position: relative;
    overflow: hidden;
}